<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<%= form_tag movies_path, :method => 'get' do %>
  <%= text_field_tag :title, placeholder="title" %> <!-- text_field_tag :search, params[:search] -->
  <%= text_field_tag :director, "director" %>
  <%= submit_tag("Search") %>
<% end %>

<p><%= link_to "Submit a Movie", new_movie_path %></p>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
  <%= image_tag movie.image_url(:thumb).to_s %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p> <%= movie.description %> </p>
  <hr>
<%end%>